<a href="https://colab.research.google.com/github/Kim-jong-hoon/gihtubtest/blob/main/6_23_colab_test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

코랩 테스트

파이썬 구문

In [1]:
print("Hello, World!:")

Hello, World!:

파이썬 변수

In [2]:
x = 5
y = "John"
print(x)
print(y)

5
John

파이썬 변수

In [7]:
x = 3
print (x)

3

파이썬 변수

In [8]:
a = 4
A = "Sally"

여러값 할당

In [9]:
x , y, z = "Orange" , "Banna", "Cherry"
print(x)
print(y)
print(z)

Orange
Banna
Cherry

하나의 값을 여러변수에

In [10]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

컬렉션 풀기

In [11]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

출력변수

In [13]:
x = "Python is hard"
print(x)

Python is hard

파이썬 숫자

In [15]:
x = 1
y = 2.8
z = 1j
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

파이썬 캐스팅 : int

In [17]:
x = int(1)
y = int(2.8)
z = int("3")

파이썬 캐스팅 : float

In [18]:
x = float(1)     # x will be 1.0
y = float(2.8)   # y will be 2.8
z = float("3")   # z will be 3.0
w = float("4.2") # w will be 4.2

파이썬 문자열

In [19]:
print("It's alright")

It's alright

변수에 문자열 할당

In [20]:
a = "Hello"
print(a)

Hello

파이썬 부울

In [21]:
a = 200
b = 33

if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

파이썬 연산자 : +

In [22]:
print(10 + 5)

15

연산자 우선순위 : 곱셈은 덧셈보다 우선순위가 높다

In [60]:
print(100 + 5 * 3)

115

파이썬 리스트

In [23]:
thislist = ["apple", "banana", "cherry"]
print(thislist)

['apple', 'banana', 'cherry']

파이썬 튜플

In [24]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

파이썬 세트

In [25]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'cherry', 'banana', 'apple'}

파이썬 사전

In [26]:
thisdict = {
    "brand" : "Ford",
    "model" : "Mustang",
    "year" : 1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

파이썬 if_Else 구문

In [27]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

파이썬 매치 case 구문

In [28]:
day = 6
match day:
  case 1:
    print("Monday")
  case 2:
    print("Tuesday")
  case 3:
    print("Wednesday")
  case 4:
    print("Thursday")
  case 5:
    print("Friday")
  case 6:
    print("Saturday")
  case 7:
    print("Sunday")

Saturday

파이썬 While 루프

In [29]:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

파이썬 while 루프 break 사용

In [30]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

파이썬 For 루프 break 시 변수 출력

In [31]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    break
  print(x)

apple

파이썬 For 루프 break

In [32]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break

apple
banana

파이썬 함수

In [33]:
def my_function(fname):
  print(fname + " Refsnes")

my_function("Emil")
my_function("Tobias")
my_function("Linus")

Emil Refsnes
Tobias Refsnes
Linus Refsnes

파이썬 함수

In [34]:
def my_function(x):
  return 5 * x

print(my_function(3))
print(my_function(5))
print(my_function(9))

15
25
45

파이썬 람다

In [35]:
x = lambda a, b : a * b
print(x(5, 6))

30

파이썬 객채 생

In [62]:
class MyClass:
  x = 5
p1 = MyClass()
print(p1.x)

5

파이썬 상

In [63]:
class Person:
  def __init__(self, fname, lname):
    self.firstname = fname
    self.lastname = lname

  def printname(self):
    print(self.firstname, self.lastname)

#Use the Person class to create an object, and then execute the printname method:

x = Person("John", "Doe")
x.printname()

John Doe

파이썬 반복자

In [39]:
mytuple = ("apple", "banana", "cherry")
myit = iter(mytuple)

print(next(myit))
print(next(myit))
print(next(myit))

apple
banana
cherry

파이썬 다양성 : len() 문자수를 반환

In [40]:
x = "Hello World!"

print(len(x))

12

파이썬 범위

In [45]:
def myfunc():
  x = 300
  print(x)

myfunc()

300

파이썬 날짜

In [50]:
import datetime

x = datetime.datetime(2020, 5, 17)

print(x)

2020-05-17 00:00:00

파이썬 수학

In [51]:
x = min(5, 10, 25)
y = max(5, 10, 25)

print(x)
print(y)

5
25

파이썬 수학 : abs()함수는 숫자의 절대값을 반환

In [52]:
x = abs(-7.25)

print(x)

7.25

파이썬 수학: pow(x,y)

In [53]:
x = pow(4, 3)

print(x)

64

파이썬 JSON : JSON에서 Python으로 변환

In [54]:
import json

# some JSON:
x =  '{ "name":"John", "age":30, "city":"New York"}'

# parse x:
y = json.loads(x)

# the result is a Python dictionary:
print(y["age"])

30

파이썬 Try Except

In [56]:
try:
  print(x)
except:
  print("An exception occurred")

{ "name":"John", "age":30, "city":"New York"}

플레이스홀더와 수정자

In [57]:
price = 59
txt = f"The price is {price} dollars"
print(txt)

The price is 59 dollars

파이썬 사용자 입력

```
# 코드로 형식 지정됨
```

In [58]:
print("Enter your name:")
name = input()
print(f"Hello {name}")

Enter your name:
김종훈
Hello 김종훈